<nav class="navbar">
    <div class="navbar-container">
      <a class="logo">LawLang</a>
      <a routerLink="/categories" class="categories">Categories</a>
      <div class="search-bar">
        <input type="text" placeholder="Search courses" />
        <button class="search-button">Search</button>
      </div>
      <div class="login-buttons">
        <a routerLink="/login" class="loginLink" routerLinkActive="active"
          >Log in
        </a>
        <a routerLink="/signup" class="signupLink" routerLinkActive="active"
          >Sign up
        </a>
        
      </div>
    </div>
  </nav>
  <div>
    <a routerLink="home">let's start learning course</a>
  </div>