.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    background-color: #007791;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.loginLink {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    margin-right: 10px;
}

.signupLink {
    background-color: #007791;
    padding: 8px 16px;
    border-radius: 4px;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: blue;
}

